{% extends 'navigation.html'  %}
{% block body %}
<div><h1 align="center" style="color:white">About ChatBot</h1></div><hr>
<center>
    <div class="jumbotron" style="width:90%;margin-top:5%" align="center">
        <div class="row">
            <div class="col-md-3">
                <img width="97%" src="/static/images/robot.jpg"/>
            </div>
            <div class="col-md-9">
                <p style="font-size:20px">A chatbot is a computer program that uses Artificial Intelligence (AI) to simulate human-like conversations.  
                    It can communicate with users through text or voice, and is commonly used in websites, apps, and messaging platforms.  
                    Chatbots can answer questions, provide information, help with tasks, and even have friendly conversations — all in real-time, 24/7.  
                    They're designed to make user interaction easier, faster, and more engaging, just like chatting with a real person!</p>

                <p style="font-size:20px">A chatbot is an artificial intelligence (AI)
                    software that can simulate a conversation (or a chat) with a user in natural
                    language through messaging applications, websites, mobile apps or through the telephone</p>
            </div>
        </div>
    </div>
</center>
<div class="container-fluid">
    <h2 class="text-center" style="background-color: black; color: white">
        Copyright &copy; 2025 , Designed And Developed By Nikit Sapkota
    </h2>
</div>
{% endblock %}
