{% extends 'navigation.html' %}
{% block body %}

<div class="container" style = "margin-top : 130px">
      <h2 class = text-center style = "font-family : 'Castellar' ; color : white ; font-weight : bold ; background-color : black">Contact Us</h2>
	  <br>
	  <br>
      <div class="row" style = "background-color : black ; color : white ; font-weight : bold">
          <div class="col-sm-3">
		  <h4><i class="fas fa-phone-square"></i> Contact</h4>
              <p>9861908271</p>      
          </div>
          <div class="col-sm-3">
		  <h4><i class="fas fa-envelope"></i>Send Email</h4>
              <p>nikitsapkota29@gmail.com</p>      
          </div>
		  <div class="col-sm-3">
		  <h4><i class="fas fa-address-card"></i> Address</h4>
              <p>Jadibuti, Kathmandu</p>      
          </div>
      </div>
  </div>

  <br>
  <br>
  <br>
   <br>
  <br>
  <br>
<br>
  <br>
  <br>
  <br>
  <br>
  <div class=container-fluid>
<h2 class="text-center" style = "background-color : black ; color : white">Copyright &copy; 2025 , Designed And Developed By Nikit Sapkota</h2>
</div>
{% endblock %}
